@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .card-wrapper{
        @apply relative text-white overflow-hidden rounded-sm h-[250px];
        @apply bg-bg-light flex flex-col justify-center items-center;
        @apply hover:bg-gradient-to-b hover:from-lemon hover:to-dark-light ease-in-out;
    }

    .card-wrapper::before {
        background: conic-gradient(
            rgba(244,114,182,0.4) 0deg,
            rgba(192, 132, 252, 0.4) 0deg,
            transparent 80deg
        );

        @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin
    }

    .card-content{
        @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] bg-gradient-to-b from-slate-800 to-slate-900 rounded-sm gap-2 ;
        @apply flex flex-col justify-center items-center text-center p-3;
    }

    .content-header{
        @apply font-jamjuree bg-gradient-to-r from-lemon to-dark-light text-transparent bg-clip-text;
        font-size: 25px;
        
    }

    .content-text{
        @apply font-jamjuree text-dark-light
    }

    .article{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @media (min-width: 980px){
        .home-article{
            display: flex;
            flex-direction: row;
        }
    }

    @media (max-width: 1000px){
        .home-article{
            display: flex;
            flex-direction: column;
            @apply gap-10 h-[180vh] justify-center items-center;

        }

        .first-section p:nth-child(1){
            font-size: 40px;
        }

        .first-section p:nth-child(2){
            font-size: 50px;
        }

        .section-one {
            @apply w-full pl-3 pr-3;
        }

        
        .main-accord {
            grid-template-columns: 1fr;
            width: 100%;
        }

        .image{
            display: none;
        }
    }

    @media (max-width: 768px){
        .home-article{
            display: flex;
            flex-direction: column;
            @apply gap-10 h-[180vh] justify-center;
            

        }

        .first-section {
            @apply w-full 
        }

        .first-section p:nth-child(1){
            font-size: 30px;
        }

        .first-section p:nth-child(2){
            font-size: 2rem;
        }

        

        .service-head {
            font-size: 40px;
        }


        .service-desc {
            font-size: 18px;
        }

        .about-cont{
            display: flex;
            flex-direction: column;
            @apply w-full;
        }
    }


    @media (max-width: 640px){
        .service-cont{
            @apply w-full h-[380vh];
        }

        .about-cont{
            display: flex;
            flex-direction: column;
            @apply w-full p-0 h-[150vh]  justify-start items-center;

        }

        .image{
            display: none;
        }

        .about-head {
            font-size: 40px;
        }

        .tools-cont {

            @apply w-full h-[150vh] ;

        }

        .tools-head {
            font-size: 40px;
        }


        .tools-item {
            display: flex;
            flex-direction: column;
            @apply w-full;
        }

        .tool-one{
            display: flex;
            flex-direction: column;
        
        }

        .tool-one p{
            @apply rotate-0;
        }

        .tool-two{
            display: flex;
            flex-direction: column;
        }

        .tool-two p{
            @apply rotate-0;
        }

        .logo-text{
            font-size: 20px;
            font-weight: 700;
        }

        .logo-en {
            display: none;
        }

        .work-text{
            font-size: 40px;
            font-weight: 700;
        }

        .main-accord {
            grid-template-columns: 1fr;
            width: 100%;
        }

        .accord-cont {
            width: 100%;
            @apply p-8 justify-center items-center
        }

        .logo-dark{
            display: none;
        }

        .home-article{
            display: flex;
            flex-direction: column;
            @apply gap-10 h-[180vh] justify-start pt-5 pl-2 pr-2 items-center;

        }

        .home-img-cont{
           height: 60vh;
           width: 80%;
           justify-self: start;
        }

        .home-desc{
            font-size: 18px;
        }
    }

}